{% load static %}
<!-- start footer -->
<footer class="footer-light position-relative cover-background" style="background-image: url('https://placehold.co/1920x585')">
    <div class="container"> 
        <div class="row justify-content-center align-items-center">
            <div class="col-md-10 text-center">
                <a href="{% url 'fkmotors:home' %}" class="footer-logo position-relative z-index-1 d-inline-block">
                    <img src="{% static 'images/demo-barber-logo-black.png' %}" data-at2x="{% static 'images/demo-barber-logo-black@2x.png' %}" alt="FK Motors">
                </a>
                <span class="fs-90 xs-fs-60 alt-font text-base-color opacity-4 d-block mt-minus-50px mb-30px ls-minus-4px xs-ls-minus-2px">Fabrikalara makine bakım & motosiklet servisi</span>
                <div class="col-12 text-center elements-social social-icon-style-09 mb-30px">
                    <ul class="large-icon light">
                        <li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i><span></span></a></li>
                        <li><a class="instagram" href="http://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i><span></span></a></li>
                        <li><a class="twitter" href="http://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i><span></span></a></li>  
                        <li><a class="dribbble" href="http://www.dribbble.com" target="_blank"><i class="fa-brands fa-dribbble"></i><span></span></a></li>
                    </ul>
                </div>
                <p class="mb-0 fs-16">&copy; 2025 FK Motors - Makine Bakım & Motosiklet Servisi</p>
            </div>
        </div>
    </div> 
</footer>
<!-- end footer -->
